{% extends 'todolist/main.html' %}
{% block content %}

<div class="full-withradius border">
    <div>

        {% if request.user.is_authenticated %}
            <h1>Utilisateur : <b>{{request.user}}</b></h1>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        {% else %}
            <a href="{% url 'login' %}">Se connecter</a>
        {% endif %}

    </div>

    {% if compteur != 0 %}
    <h2>Liste des tâches</h2>
        <h5>Vous avez {{compteur}} tâche{{compteur|pluralize:"s"}}
            incomplète{{compteur|pluralize:"s"}} dont {{compteur_important}} importante{{compteur_important|pluralize:"s"}}
        </h5>
    {% else %}
        <h5>Vous n'avez aucune tâche à faire! Bravo <b>{{request.user}}</b></h5>
    {% endif %}

    {% if compteur != 0 %}
    <form method='get'>
        <input type="text" name='recherche-input' value="{{recherche}}">
        <button type="submit">Rechercher</button>
    </form>
    {% endif %}
    <div class="liste-tache">
        {% for tache in taches %}
            <div>
                <div>
                    {% if tache.termine %}
                        <i><s><a href="{% url 'modif-tache' tache.id %}">{{tache.titre}}</a></s></i>
                    {% else %}
                        <a href="{% url 'modif-tache' tache.id %}">{{tache.titre}}</a> 
                    {% endif %}
                </div>
                <div>
                    <a  href="{% url 'suppr-tache' tache.id %}">&#215;</a>
                </div>
            </div>
        {% empty %}
            <h3><a href="{% url 'cree-tache' %}">Ajouter vos tâches ici!</a></h3>
        {% endfor %}
        {% if compteur_existe != 0 %}
            <h3><a href="{% url 'cree-tache' %}">Nouvelle tâche</a></h3>
        {% endif %}
    </div>
</div>
{% endblock content %}