{% extends 'todolist/main.html' %}
{% block content %}

<div class="full-withradius border">

    <div>

        {% if request.user.is_authenticated %}
            <h1>Utilisateur : <b>{{request.user}}</b></h1>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        {% else %}
            <a href="{% url 'login' %}">Se connecter</a>
        {% endif %}

    </div>

    <h2>Liste des tâches</h2>
    {% if compteur != 0 %}
        <h5>Vous avez {{compteur}} tâche{{compteur|pluralize:"s"}}
            incomplète{{compteur|pluralize:"s"}} dont {{compteur_important}} importante{{compteur_important|pluralize:"s"}}
        </h5>
    {% else %}
        <h5>Vous n'avez aucune tâche à faire! Bravo <b>{{request.user}}</b></h5>
    {% endif %}

    <form method='get'>
        <input type="text" name='recherche-input' value="{{recherche}}">
        <button type="submit">Rechercher</button>
    </form>
    <table>
        <tr>
            <th>Tache</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for tache in taches %}
        <tr>
            <td>{{tache.titre}}</td>
            <td><a href="{% url 'modif-tache' tache.id %}">Modifier</a></td>
            <td><a href="{% url 'suppr-tache' tache.id %}">Supprimer</a></td>
            <td><a href="{% url 'tache' tache.id %}">Details</a></td>

        </tr>
        {% empty %}
            <h5>Vide</h5>
        {% endfor%}
    </table>
    <h3><a href="{% url 'cree-tache' %}">Ajout Tache</a></h3>

</div>
{% endblock content %}